/******************
	NAV
  This whole file is a candidate for deletion
*******************/
header#main {
  max-width: 100%;
  border-bottom: 1px solid #666;
  min-height: 80px;
  margin: 10px 0;
}
header#main .logo {
  float: left;
  margin-bottom: 10px;
}
header#main .logo img {
  height: 120px;
  margin: 0 50px 0 30px;
}
header#main .header-inside {
  max-width: 1170px;
  margin: 0 auto;
}
.navbar li>a {
  color: #000;
}
.navbar .dropdown-menu li {
  padding-bottom: 0;
  line-height: 24px;
}
.navbar .dropdown-menu li>a {
  padding-bottom: 0;
}
.navbar .dropdown-menu:last-child {
  padding-bottom: 12px;
}
.navbar li>a:hover {
  color: #666;
  background-color: #fff;
}
.navbar .active>a,
.navbar .active>a:hover {
  font-weight: bold;
  background-color: #fff;
  color: #000 !important;
}
.nav-collapse .nav>li {
  margin-bottom: 5px;
}
.nav-collapse .nav>li>a {
  color: #333 !important;
}
.nav-collapse .nav>li>a:hover {
  color: #666 !important;
}
.nav-collapse .divider {
  width: 100%;
  margin: 5px 0;
}
.btn-primary {
  background-color: #333;
}
.btn-primary:hover,
#site-footer a.btn-primary:hover {
  color: #fff;
  background-color: #555;
}
ul.about-subnav {
  text-align: center;
  margin-left: 0;
}
ul.about-subnav li {
  display: inline;
  white-space: nowrap;
}
ul.about-subnav li:after {
  content: " | ";
}
ul.about-subnav li:last-child:after {
  content: none;
}

